*-Alignment.txt
*.Rhistory
*.backup
*.fa.gz
*.fas.gz
*.fasta
*.fasta.gz
*.fastq
*.fastq.gz
*.fq.gz
*.html
*.ids
*.ignore
*.nhr
*.nin
*.nsq
*.pdf
*.png
*.ppt
*.pptx
*.tgz
*.vsearchdb
*.xls
*.xlsx
*.zip
*_common_names.csv
*_primers_not_found
*test*
*~
.~lock*
00_archive/*
00_archive/log_files/*
02_info/primers.csv*
02_info/primers_*
03_databases/*
04_data/*
05_trimmed/*
06_merged/*
07_split_amplicons/*
08_chimeras/*
09_vsearch/*
10_read_dropout/*
11_non_annotated/*
12_results*
13_*
13_otu_database/*
99_*
