*.fa.gz
*.fas.gz
*.fasta
*.fasta.gz
*.fastq
*.fastq.gz
*.fq.gz
*.ignore
*.nhr
*.nin
*.nsq
*.pdf
*.png
*.ppt
*.pptx
*.xls
*.xlsx
*data*
*~
.~lock*
00_archive/*
02_*/*
03_*/*
04_*/*
05_*/*
06_*/*
07_*/*
08_*/*
99_databases/*
multiple_hits*
species_to_remove.txt
