*.Rhistory
*.fa.gz
*.fas.gz
*.fasta
*.fasta.gz
*.fastq
*.fastq.gz
*.fq.gz
*.html
*.ignore
*.nhr
*.nin
*.nsq
*.pdf
*.png
*.ppt
*.pptx
*.xls
*.xlsx
*data*
*~
.~lock*
00_archive/*
02_info/primers.csv.*
03_databases/*
04_data/*
05_trimmed/*
06_merged/*
07_split_amplicons/*
08_chimeras/*
09_usearch_multiple_hits/*
10_results_multiple_hits/*
11_usearch/*
12_results/*
multiple_hits.txt
